# Variables de entorno necesarias para conectar FastAPI con MySQL.
# En desarrollo local se copian a un archivo .env.
# En Cloud Run se configurarán como variables de entorno o secretos.

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=quincena
